<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
    <link rel="stylesheet" href="/new.css">
</head>
<body>
    <form method="post" action="/posts" class="newPost">
        <input placeholder="enter username" name="username"> <br> <br>
        <textarea placeholder="Write Your Thoughts ..." name="content" id="mainContent"></textarea> <br> <br>
        <button class="Submit">Submit Post</button>
    </form>
</body>
</html>